---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import '../styles/global.css';

const posts = await getCollection('blog');
posts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

function formatDate(date) {
    return date.toLocaleDateString('en-US', {
        day: 'numeric',
        month: 'short',
        year: 'numeric'
    });
}

const siteTitle = "Ishant Juyal";
const siteDescription = "Hi! Welcome to Ishant's personal website where he shares his thoughts on everything.";
const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();
---

<Layout title={siteTitle} description={siteDescription} canonicalURL={canonicalURL}>
    <main>
        <section id="intro">
            <h1>Hey 👋</h1>
            <p>I'm Ishant, and this is my personal website. I'm the co-founder of <a href="https://www.creworklabs.com" target="_blank">Crework Labs</a>.</p>
            <p>I am passionate about solving problems and building products.</p>

            <p>These are some of the products i have built -
            <br>
            <a href="https://www.pawpal.life/" target="_blank">Pawpal</a>, 
            <a href="https://www.prepair.in/" target="_blank">Prepair</a>, 
            <a href="https://chromewebstore.google.com/detail/year-progress-goals-track/acdnmoeegibdamcidkjohklcnnhghfdf?authuser=0&hl=en-GB" target="_blank">Year Progress Tracker</a>
            </p>

            <p>
            if you want to connect, these are my socials:
            <br>
            <a href="https://twitter.com/juyal_ishant" target="_blank">X</a>, 
            <a href="https://peerlist.io/ishantjuyal" target="_blank">Peerlist</a>, 
            <a href="https://www.linkedin.com/in/ishantjuyal/" target="_blank">LinkedIn</a>
            </p>
            
            <p>Below, you'll find my latest blog posts. Feel free to explore them!</p>
            <p>In case you want to subscribe, you can do it here: <a href="https://ishant.substack.com/" target="_blank">Subscribe</a></p>
        </section>

        <section id="blog-posts">
            <h3>Posts</h3>
            {posts.length > 0 ? (
                <ul class="post-list">
                    {posts.map(post => (
                        <li class="post-item">
                            <span class="post-date">{formatDate(post.data.date)}</span>
                            <span class="post-title">
                                <a href={`/blog/${post.slug}`}>{post.data.title}</a>
                            </span>
                        </li>
                    ))}
                </ul>
            ) : (
                <p class="no-posts-message">I will get back to writing soon... I promise.</p>
            )}
        </section>
    </main>
</Layout>