---
// src/pages/index.astro
import { getCollection } from 'astro:content';
import '../styles/global.css';

const posts = await getCollection('blog');
posts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

function formatDate(date) {
    return date.toLocaleDateString('en-US', {
        day: 'numeric',
        month: 'short',
        year: 'numeric'
    });
}

const siteTitle = "Ishant Juyal";
const siteDescription = "Hi! Welcome to Ishant's personal website where he shares his thoughts on everything.";
const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{siteTitle}</title>
    <meta name="description" content={siteDescription}>
    <link rel="canonical" href={canonicalURL}>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GPHNTYTXYB"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-GPHNTYTXYB');
    </script>

    <style>
        :root {
            --link-color: #990606; /* This is blue, change it to your preferred color */
        }

        a, a:visited, a:hover, a:active {
            color: var(--link-color);
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        .post-list {
            list-style-type: none;
            padding: 0;
        }
        .post-item {
            margin-bottom: 15px;
            display: flex;
            align-items: baseline;
        }
        .post-date {
            min-width: 100px; /* Increased from 100px to accommodate longer date format */
            margin-right: 8px; /* This adds space between date and title */
            color: #666;
            flex-shrink: 0; /* Prevents the date from shrinking */
        }
        .post-title {
            flex-grow: 1;
        }
        .post-title a {
            text-decoration: none;
            color: #333;
        }
        .post-title a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <main>
        <section id="intro">
            <h1>Hey 👋</h1>
            <p>I'm Ishant, and this is my personal website. I'm the founder of <a href="https://www.crework.club" target="_blank">Crework</a> and <a href="https://www.creworklabs.com" target="_blank">Crework Labs</a>.</p>
            <p>I am passionate about education, solving problems and building products.</p>

            <p>These are some of the products i have built -
            <br>
            <a href="https://www.pawpal.life/" target="_blank">Pawpal</a>, 
            <a href="https://www.prepair.in/" target="_blank">Prepair</a>, 
            <a href="https://chromewebstore.google.com/detail/year-progress-goals-track/acdnmoeegibdamcidkjohklcnnhghfdf?authuser=0&hl=en-GB" target="_blank">Year Progress Tracker</a>
            </p>

            <p>
            if you want to connect, these are my socials:
            <br>
            <a href="https://twitter.com/juyal_ishant" target="_blank">X</a>, 
            <a href="https://peerlist.io/ishantjuyal" target="_blank">Peerlist</a>, 
            <a href="https://www.linkedin.com/in/ishantjuyal/" target="_blank">LinkedIn</a>
            </p>
            
            <p>Below, you'll find my latest blog posts. Feel free to explore them!</p>
        </section>

        <section id="blog-posts">
            <h3>Posts</h3>
            {posts.length > 0 ? (
                <ul class="post-list">
                    {posts.map(post => (
                        <li class="post-item">
                            <span class="post-date">{formatDate(post.data.date)}</span>
                            <span class="post-title">
                                <a href={`/blog/${post.slug}`}>{post.data.title}</a>
                            </span>
                        </li>
                    ))}
                </ul>
            ) : (
                <p class="no-posts-message">I will get back to writing soon... I promise.</p>
            )}
        </section>
    </main>
</body>
</html>